<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="img">
    <img src="../../../assets/img/nimbg.png" alt="">
  </div>
  <div class="desc">
    <p>
      Les jeux de Nim sont des jeux de stratégie pure, à deux joueurs.
      Il en existe plusieurs variantes. Ils se jouent avec des graines,
      des billes, des jetons, des allumettes ou tout autre objet facilement manipulable.
    </p>
  </div>
</ion-content>